@model IEnumerable<CineMate.Data.Entities.Cinema>
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Cinemas";
}

<h1>Cinemas</h1>

@if (User.Identity?.IsAuthenticated == true
   && (User.IsInRole("Administrator") || User.IsInRole("Operator")))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cinema in Model)
        {
            <tr>
                <td>@cinema.Name</td>
                <td>@cinema.City.Name</td>
                <td>
                    @if (User.Identity?.IsAuthenticated == true
                   && (User.IsInRole("Administrator") || User.IsInRole("Operator")))
                    {
                        <a asp-action="Details" asp-route-id="@cinema.Id">Details</a>
                        @: | <a asp-action="Edit" asp-route-id="@cinema.Id">Edit</a>
                        @: | <a asp-action="Delete" asp-route-id="@cinema.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
